/* Vos customisations des classes de Bootstrap */
i{
    color: #fff;
    background-color: #222;
    width: 100px;
    height: 100px;
}
hr{
    border-top: 3px solid #D9534F;
}
.colorProjet{
    background-color: #222;
    color: #969696;
}
.colorRprojet{
    color: #D9534F;
}
.colorBgRprojet{
    background-color: #D9534F;
}
.bgColorProject{
    background-color: #222;
}
.cercleIcon{
    display: inline-block;
    width: 30%;
    background-color: #222;
}
.titreBandeau{
    font-family: 'Arvo', serif;
    font-size: 3.5rem;
    padding-top: 5%;
}
.conteneurBandeau{
    background-image: url('./../images/hero-image.jpg');
    background-size: cover;
    background-position: top left;
    text-align: center;
}
.codeBandeau{
    padding: 4%;
}
.gras{
    font-weight: bold;
}
.p-bandeau{
    color: #fff;
    font-family: 'Arial Narrow Bold';
    font-size: 1rem;
    text-align: center;
    margin: 5% 0;
}
.btBandeau{
    margin: 0 auto;
    width: 27%;
    padding: 6px;
    font-size: 2rem;
    background-color: #D9534F;
}

#who{
    width: 59%;
}
.titre{
    color: #D9534F;
    font-family: 'Arvo', serif;
    font-size: 2rem;
}
.dvder{
    border-color: #D9534F;
}
/* #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
} */
#get-involved{
    background-color: #f2f2f2;
}

/* Responsive Styling */

/* @media (max-width: 1199px) {

}

@media (max-width: 991px) {
    
}

@media (max-width: 767px) {

} */
@media (orientation: portrait) {
    .titreBandeau{
        font-size: 1.8rem;
    }
    .btBandeau{
        margin: 0 auto;
        width: 60%;
        padding: 6px;
        font-size: 1.5rem;
        background-color: #D9534F;
    }
}
